@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mainBg: teal;
}

$light-text: moccasin;

body{
    background-color: var(--mainBg);
    color: $light-text;
};

#headline{
    transform: rotate(10deg);
    @apply px-4 py-2 rounded font-semibold bg-gray-200 text-black;
}