@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mainBg: black;
}

body{
    background-color: var(--mainBg);
    color: whitesmoke;
};

hr{
    border: 1px solid white;
    width: 100%;
    margin-block: 10px;
}

section{
    width: 705px;
}
pre{
    text-align: left;
}
main{
 display: flex;
 flex-direction: column;
 align-items: center;
}
#headline{
    text-align: center;
    @apply px-4 py-2 rounded font-semibold bg-gray-200 text-black;
}